<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javaproject.recipemanagementapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeManagementApp">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".options"
            android:exported="false" />
        <activity
            android:name=".Activities.tags_allergen"
            android:exported="true" />
        <activity
            android:name=".Activities.edit_recipe_method"
            android:exported="false" />
        <activity
            android:name=".Activities.forgot_password"
            android:exported="false" />
        <activity
            android:name=".Activities.login"
            android:exported="false" />
        <activity
            android:name=".Activities.signup"
            android:exported="false" />
        <activity
            android:name=".Activities.all_recipe"
            android:exported="false" />
        <activity
            android:name=".Activities.intro_scroll"
            android:exported="false" />
        <activity
            android:name=".Activities.edit_recipe_ingredients"
            android:exported="true" />
        <activity
            android:name=".Activities.login_signup"
            android:exported="false" />
        <activity
            android:name=".Activities.landing_page"
            android:exported="false" />
        <activity
            android:name=".Activities.view_recipe"
            android:exported="true" />
        <activity
            android:name=".Activities.ExitPage"
            android:exported="true" />
        <activity
            android:name=".Activities.StartupPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>